.content-body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    line-height: 24px;
    position: relative;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.profile-pic {
    height: 270px;
    width: 200px;
    margin-bottom: 30px;
}